.nav-link:hover {
    transition: 0.3s ease;
    opacity: 70%;
    color: #0d6efd
}

@media only screen and (min-width: 992px) {
    .navbar-container {
        justify-content: flex-start;
    }
    
  }